<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Token" value="cc3b4e7b88c27413a1f9e505d4097fbc"/>
    <add key="ApiUrl" value="https://api.openweathermap.org/data/2.5/weather?q="/>
    <add key="Units" value="metric"/>
  </appSettings>
</configuration>